// reset
* {
    margin : 0;
    padding : 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body, html {
    height: 100%;
    font-family: Roboto, Arial;
}

// VARIABLES

// colors
$primary-color: #06283D;
$secondary-color: #fff;
$third-color: #dff6ff;

// box-shadow
$box-shadow-std: 0 4px 8px rgba(0, 0, 0, 0.1);

// width
$card-width: 420px;

// heights
$intial-height: 105px;
$error-height: 400px;
$weather-height: 570px;

// MIXINS
@mixin transition-ease {
    transition: all .4s ease;
}
